**/node_modules/
**/testResultsSnapshots/
**/playwright-report/
**/playwright/.cache/
**/previousReleaseFiles/
**/PreviousReleases/
**/PerformanceResults/
**/playwrighTestReportHTML/
**/.DS_store
**.csv
