services:
  cil-playwright:
    build: .
    container_name: cil-playwright-container
    tty: true
    deploy:
        resources:
            limits:
              cpus: '2'
              memory: 4g
            reservations:
              cpus: '2'
              memory: 4g
    volumes:
      - .:/cil-playwright